.entry-content p,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.wp-block-image,
.wp-block-gallery,
.wp-block-video,
.wp-block-quote,
.wp-block-text-columns,
.wp-block-cover-text,
.wp-block-button,
.wp-block-gallery,
.wp-block-table,
.wp-block-embed,
.wp-block-audio,
.wp-block-pullquote,
.wp-block-preformatted,
.wp-block-code,
.wp-block-verse {
  margin: 1.5em auto;
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
}

.entry-content ul,
.entry-content ol {
  margin: 1.5em auto;
  max-width: 740px;
  list-style-position: outside;
}

.wp-block-video video {
  max-width: 740px;
}

.wp-block-cover-text.alignwide,
.wp-block-image.alignwide,
.wp-block-gallery.alignwide,
.wp-block-text-columns.alignwide,
.wp-block-gallery.alignwide,
.wp-block-table.alignwide,
.wp-block-embed.alignwide,
.entry-content p.alignwide,
.wp-block-audio.alignwide,
.wp-block-pullquote.alignwide,
.wp-block-preformatted.alignwide,
.wp-block-code.alignwide,
.wp-block-verse.alignwide {
  margin: 1.5em auto;
  max-width: 1100px;
}

.wp-block-cover-text.alignfull,
.wp-block-image.alignfull,
.wp-block-gallery.alignfull,
.wp-block-text-columns.alignfull
.wp-block-gallery.alignfull,
.wp-block-table.alignfull,
.wp-block-embed.alignfull,
.entry-content p.alignfull,
.wp-block-audio.alignefull,
.wp-block-pullquote.alignefull,
.wp-block-preformatted.alignefull,
.wp-block-code.alignefull,
.wp-block-verse.alignefull {
  margin: 1.5em 0;
  max-width: 100%;
}

.wp-block-image img {
  display: block;
  width: 100%;
}

.wp-block-gallery:not(.components-placeholder) {
  margin: 1.5em auto;
}

.wp-block-cover-text p {
  padding: 1.5em 20px;
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
  padding: 0 20px;
}

.wp-block-table {
  display: block;
  overflow-x: auto;
}

.wp-block-table table {
  border-collapse: collapse;
  width: 100%
}

.wp-block-table td, .wp-block-table th {
  padding: .5em;
}

.entry-content li {
  list-style-position: outside;
}

@media screen and (min-width: 768px) {
  .wp-block-cover-text p {
    padding: 1.5em 0;
  }

  .entry-content p,
  .entry-content h1,
  .entry-content h2,
  .entry-content h3,
  .entry-content h4,
  .wp-block-image,
  .wp-block-gallery,
  .wp-block-video,
  .wp-block-quote,
  .wp-block-text-columns,
  .wp-block-cover-text,
  .wp-block-button,
  .wp-block-gallery,
  .wp-block-table,
  .wp-block-embed,
  .wp-block-audio,
  .wp-block-pullquote {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.wp-block-embed.type-video > .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}