.entry-content > * {
  margin: 1.5em auto;
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
}

.entry-content > .alignwide {
  max-width: 1100px;
}

.entry-content > .alignfull {
  margin: 1.5em 0;
  max-width: 100%;
}

.entry-content ul,
.entry-content ol {
  margin: 1.5em auto;
  max-width: 740px;
  list-style-position: outside;
}

.wp-block-video video {
  max-width: 740px;
}

.wp-block-image img {
  display: block;
  width: 100%;
}

.wp-block-gallery:not(.components-placeholder) {
  margin: 1.5em auto;
}

.wp-block-cover-text p {
  padding: 1.5em 20px;
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
  padding: 0 20px;
}

.wp-block-table {
  display: block;
  overflow-x: auto;
}

.wp-block-table table {
  border-collapse: collapse;
  width: 100%
}

.wp-block-table td, .wp-block-table th {
  padding: .5em;
}

.entry-content li {
  list-style-position: outside;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .wp-block-cover-text p {
    padding: 1.5em 0;
  }

  .entry-content > * {
    padding-left: 0px;
    padding-right: 0px;
  }

}