/*--------------------------------------------------------------
# Dark Mode
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
optgroup,
textarea {
  color: #E6E1DC;
}

h1, h2, h3, h4, h5, h6 {
  color: #E6E1DC;
}

abbr, acronym {
  border-color: #999;
}

.site-title {
  color: #CCCCCD;
}

.site-description,
.site-footer {
  color: #8A8A8A;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  border-color: #1D1B18;
}

body {
  background: #000;
}

/*--------------------------------------------------------------
## Forms
--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-color: #333 #333 #444;
  background: #191919;
  color: rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #333 #444 #555;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #555 #444 #444;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #999;
  border-color: #333;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #EEE;
}

select {
  border-color: #333;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #EEE;
}

fieldset {
  border-color: #3F3F3F;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
  color: #00a0d2;
}

a:hover, a:focus, a:active {
  color: #66c6e4;
}

/*--------------------------------------------------------------
## Accessibility
--------------------------------------------------------------*/

.screen-reader-text:focus {
  color: #66c6e4;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.entry-meta {
  color: #8A8A8A;
}

.entry-footer {
  color: #8A8A8A;
  border-color: #1D1B18;
}