.entry-content p,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.wp-block-image,
.wp-block-gallery,
.wp-block-quote,
ul,
ol,
.wp-block-cover-text{
  margin: 1.5em auto;
  max-width: 700px;
}

.wp-block-gallery{
  /* remove hacky-mc-hackface when can */
  margin-right: auto!important;
}

.wp-block-cover-text.alignwide,
.wp-block-image.alignwide,
.wp-block-gallery.alignwide{
  margin: 1.5em auto;
  max-width: 1100px;
}

.wp-block-cover-text.alignfull,
.wp-block-image.alignfull,
.wp-block-gallery.alignfull{
  margin: 1.5em 0;
  max-width: 100%;
}
