.entry-content p,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.wp-block-image{
  margin: 1.5em auto;
  max-width: 700px;
}

.wp-block-image.alignwide{
  max-width: 1100px;
}
