/* Make sure all headers inherit from Gutenberg styles, not .org styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif", serif;
}

/* Override the `p a` styling for .org */
.site-title a {
  border-bottom: none;
}

.site-title a:hover {
  border-bottom-color: #00a0d2;
}