/*--------------------------------------------------------------
# Dark Mode Editor Styles
--------------------------------------------------------------*/

body {
	background: #000;
}

/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/

body,
.wp-block,
.editor-post-title__block .editor-post-title__input,
h1, h2, h3, h4, h5, h6 {
  color: #E6E1DC;
}

abbr, acronym {
  border-color: #999;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

.wp-block a {
  color: #00a0d2;
}

.wp-block a:visited {
  color: #CCC;
}

.wp-block a:hover, 
.wp-block a:focus, 
.wp-block a:active {
  color: #66c6e4;
}